body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #f4f4f4;
  width: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  box-sizing: border-box;
}
button.upper-login {
  width: 100px;
  background-color: #a3a3a3; 
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: auto;
  margin-top: 1px;
}
.logo {
  font-size: 1.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-shrink: 0;
}

.title-logo {
  text-decoration: none;
  color: #a3a3a3;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1920px;
  gap: 20px;
}

.title-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh; /* Full viewport height */
  margin: 0; /* Reset any default margin */
}

.title {
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: min(max(8vw, 32px), 120px);
  color: #333;
}

.centered-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.explanation {
  display: flex;
  width: 30%;
  height: 100vh;
  font-size: 1vw; 
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto;
}

.start-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.start-button {
  padding: 10px 20px;
  font-size: calc(0.5em + 1vw);
  background-color: #487AFF;
  border: none;
  border-radius: 10px;
}

