* {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 20px;
  font-weight: 800;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #f4f4f4;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f4f4f4;
  color: #fff;
  box-sizing: border-box;
  position: relative;
}

.header::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 4px;
  background: #487AFF;
}

.logo,
.title-logo {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-shrink: 0;
}

.title-logo {
  text-decoration: none;
  color: #487AFF;
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  transform: translateY(-30px);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 300px;
}

#label-username,
#label-password {
  align-self: flex-start;
}

#label-password {
  margin-top: 20px;
}

input[type="text"],
input[type="password"],
.lower-login {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  box-shadow: none;
  border: 2px solid;
  border-color: #a3a3a3;
  border-radius: 10px;
}

.line {
  width: 50vh;
  display: flex;
  align-items: center;
  color: #888;
  /* Updated for better visibility */
  font-size: 14px;
  margin: 8px 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.line::before,
.line::after {
  content: "";
  flex-grow: 1;
  margin: 0 16px;
  background-color: #ccc;
  /* Updated for better visibility */
  height: 1px;
  /* Ensure height is sufficient to be visible */
}

button.lower-login,
button.signup {
  padding: 10px;
  margin: 5px 0;
  background-color: #487AFF;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button.lower-login {
  margin-top: 20px;
}

button.reset-password {
  padding: 10px;
  margin: 5px 0;
  background-color: #d9d9d9;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

button {
  width: 100%;
}

button:hover {
  background-color: #a3a3a3;
}

.info {
  font-size: 30px;
}

.error {
  color: red;
  font-size: 0.9em;
  margin: 5px 0;
}

button,
button.lower-login {
  width: 108%;
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0) translateY(-30px);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px) translateY(-30px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px) translateY(-30px);
  }
}

.shake-animation {
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}