body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #f4f4f4;
  width: 100%;
  overflow: hidden; /* Prevents scrolling on the body itself */
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  box-sizing: border-box;
}

.logo {
  font-size: 1.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-shrink: 0;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; 
  max-width: 1920px; 
  min-height: calc(100vh - 60px); 
  margin: auto; 
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 300px; 
}
#label-username,
#label-password {
  align-self: flex-start;
}
#label-password {
  margin-top: 20px;
}

input[type="text"],
input[type="password"],
.lower-login {
  width: 100%; 
  padding: 10px;
  margin: 5px 0;
  box-shadow: none;
  border: 2px solid;
  border-color: #a3a3a3;
  border-radius: 10px;
}

.line {
    width: 50vh;
    display: flex;
    align-items: center;
    color: #888; /* Updated for better visibility */
    font-size: 14px;
    margin: 8px 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.line::before,
.line::after {
    content: "";
    flex-grow: 1;
    margin: 0 16px;
    background-color: #ccc; /* Updated for better visibility */
    height: 1px; /* Ensure height is sufficient to be visible */
}

button.lower-login, button.signup{
  width: 100%; 
  padding: 10px;
  margin: 5px 0;
  background-color: #487AFF; 
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;  
}

button.lower-login {
  margin-top: 20px;
}

button.reset-password {
    width: 100%; 
    padding: 10px;
    margin: 5px 0;
    background-color: #d9d9d9;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}
button.upper-login {
  width: 100px;
  background-color: #a3a3a3; 
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: auto;
  margin-top: 1px;
}

button:hover {
    background-color: #a3a3a3;
}

.error {
    color: red;
    font-size: 0.9em;
    margin: 5px 0;
}
