body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f4f4;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  width: 100%;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 100%; /* Ensures full width on all devices */
  max-width: 1920px; /* Maximum width for larger screens */
  min-height: calc(100vh - 60px);
  align-items: center;
}

.title-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 800px; /* Fixed width for large screens, adjust below */
}

.title {
  text-align: left;
  font-size: 120px; /* Adjust with media queries below */
  margin: 0;
}

.right-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 20px;
  margin-bottom: 0;
}

.explanation {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.start-form {
  margin-top: 10px;
}

/* Media queries for responsiveness */
@media (max-width: 1920px) {
  .title {
    font-size: calc(120px * 100vw / 1920); /* Responsive font size */
  }
}

@media (max-width: 1024px) {
  .main-content {
    display: flex;
    flex-direction: column;
  }

  .title-section, .right-content {
    width: 100%; /* Full width on smaller screens */
    max-width: none; /* Remove max width constraint */
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    padding: 5px 10px; /* Adjust padding for smaller screens */
  }

  .title {
    font-size: 8vw; /* Increase font size visibility on very small screens */
  }
}
