* {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 20px;
  font-weight: 800;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #f4f4f4;
  width: 100%;
  overflow-x: hidden;
}

.header {
  display: grid;
  grid-template-columns: 1fr auto;
  height: max-content;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: #fff;
  background-color: #f4f4f4;
  box-sizing: border-box;
  padding-top: 8px;
  margin-bottom: 20px;
  border-bottom: 4px solid #a3a3a3;
  transition: border-bottom 0.5s ease-in-out;
  z-index: 1;
}

.logo,
.title-logo {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-shrink: 0;
  margin-top: 2px;
}

.title-logo {
  text-decoration: none;
  color: #487AFF;
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100%;
  padding: 20px;
  margin: auto;
  position: relative;
  margin-top: 0;
  padding-top: 0;
}
.input-group {
  margin-top: 15px;
}

input[type="text"], textarea {
  width: 47vw;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
}

.statement-title {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 0;
}

textarea#mce_full {
  height: 60vh;
  resize: none;
  width: 45vh;
}

.feedback {
  margin-left: 40px;
  margin-right: 10px;
}

.feedback-title {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  margin-bottom: 40px;
  text-align: center;
}
.first-feedback, .second-feedback {
  background-color: #c9c9c9;
  color: black;
  margin-left: 20px;
  margin-right: 20px;
}

#toolbar {
  width: auto;
  height: auto;
}

#editor {
  width: auto;
  height: auto;
  position: relative;
}

.submit-ps {
  width: 50px;
  height: 50px;
  background-color: #c0c0c0;
  border-radius: 50%;
  border: none;
  position: absolute;
  /* Positioning the button absolutely */
  top: 50%;
  right: 48%;
  /* Position to the right of the editor */
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}
.submit-ps:hover {
  background-color: #487AFF;
}
.submit-ps.loading {
  background-color: #487AFF;
  pointer-events: none;
}
.submit-ps .spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #487AFF;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#autoSaveNotification {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #36363696;
  color: rgba(221, 230, 107, 0.781);
  padding: 8px 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  z-index: 1000;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  border: 1px solid rgb(37, 37, 37);
  border-radius: 4px;
  background-color: #f5f5f5;
  font-weight: 400;
  color: rgb(37, 37, 37);
  padding: 12px;
  width: 200px;
  text-align: left;
  cursor: pointer;
  font-size: 12px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content form {
  margin: 0; /* Remove default form margin */
}

.dropdown-content button {
  color: black;
  background-color: #f9f9f9; /* Matching the dropdown background */
  padding: 12px 20px;
  border: none;
  display: block;
  width: 100%; /* Full width to match dropdown */
  text-align: left; /* Align text to left for consistency */
  font-size: 12px;
  cursor: pointer;
}

.dropdown-content button:hover {
  background-color: #ececec; /* Light grey background on hover */
}

.dropdown:hover .dropdown-content {
  display: block;
}

#job_title-count,
#mce_full-count {
  font-size: 15px;
}

.result {
  margin: 10px 0;
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.result button {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1;
  text-align: left;
}

.your-work {
  width: 48vw;
}

.feedback {
  width: 43vw;
}