body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #f4f4f4;
  width: 100%;
  overflow: hidden; /* Prevents scrolling on the body itself */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  box-sizing: border-box;
}

.logo {
  font-size: 1.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-shrink: 0;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns of equal width */
  gap: 20px;
  width: 100%;
  flex-grow: 1; /* Allows the content area to grow and fill available space */
  overflow-y: auto; /* Enables scrolling within the content area if needed */
  padding: 20px;
  margin: auto;
}

.footer {
  display: flex;
  justify-content: space-between;
  /* This will put space between items, aligning one to the left and one to the right */
  align-items: center;
  /* This aligns items vertically in the center */
  padding: 10px 20px;
  background-color: #333;
  color: white;
  width: 100%;
  /* Ensures the footer spans the entire width of the viewport */
}

.footer p,
.footer form {
  flex: 1;
  /* Each child will take up equal space in the footer */
  display: flex;
  align-items: center;
  /* Ensures vertical alignment is centered within each block */
  margin: 0;
  /* Removes default margin */
}

.footer a {
  color: white;
  /* Ensures the text color is white */
  text-decoration: none;
  /* Removes underline from the link */
}

.footer a:hover {
  text-decoration: underline;
  /* Adds an underline on hover for better UX */
}

.footer form {
  justify-content: flex-end;
  /* Aligns the form to the right within its flex container space */
}

.footer button {
  padding: 8px 16px;
  /* Adds padding within the button */
  background-color: #a3a3a3;
  /* Sets the background color */
  color: black;
  /* Sets the text color */
  border: none;
  /* Removes the border */
  border-radius: 4px;
  /* Rounds the corners */
  cursor: pointer;
  /* Changes the cursor to a pointer */
  margin-right: 100px;
}

.footer button:hover {
  background-color: #888;
  /* Changes the background color on hover */
}

@media (max-width: 1024px) {
  .main-content {
    grid-template-columns: 1fr; /* Stacks the columns vertically */
  }
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    text-align: center;
  }

  .logo, .login-form {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  .login-form button {
    width: 100%;
  }
}

input[type="text"], textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea#personal-statement {
  height: 30vh;
}

.feedback {
  background-color: #c9c9c9;
  margin-left: 20px;
  margin-right: 50px;
}
.feedback-title {
  margin-left: 50px;
}
.first-feedback, .second-feedback {
  background-color: #c9c9c9;
  color: black;
  margin-left: 20px;
  margin-right: 20px;
}

#tinymde1 {
  height: 300px; 
  overflow-y: scroll; 
  border: 1px solid #c0c0c0;
}