<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Signup</title>
  <link rel="stylesheet" href="/static/signup.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet" />
</head>

<body>
  <header class="header">
    <div class="logo"><a href="/" class="title-logo">ME:VISE</a></div>
    <form action="/login" method="get" class="login-form">
      <button type="submit" class="upper-login" onmouseover="toggleNavbarColor(true)"
        onmouseout="toggleNavbarColor(false)">
        로그인
      </button>
    </form>
  </header>

  <div class="main-content">
    <h2 class="info">회원가입</h2>
    <form method="post" action="/signup" class="signupForm">
      <label for="username" id="label-username">아이디</label>
      <input type="text" name="username" placeholder="Username" id="username" required />

      <label for="email" id="label-email">이메일</label>
      <input type="email" name="email" placeholder="Email" id="email" required />

      <label for="password" id="label-password">비밀번호</label>
      <input type="password" name="password" placeholder="Password" id="password" required />

      <label for="confirm-password" id="label-confirm-password">비밀번호 확인</label>
      <input type="password" name="confirm_password" placeholder="Confirm Password" id="confirm-password" required />

      <button type="submit" class="signup">회원가입</button>
    </form>

    <div class="line">또는</div>

    <form action="/login" method="get">
      <button type="submit" class="lower-login">로그인</button>
    </form>
  </div>

  <script>
    function toggleNavbarColor(add) {
      const navbar = document.querySelector(".header");
      if (add) {
        navbar.classList.add("navigation-blue");
      } else {
        navbar.classList.remove("navigation-blue");
      }
    }

    document.addEventListener("DOMContentLoaded", function () {
      var signupForm = document.querySelector(".signupForm");
      if (signupForm) {
        signupForm.addEventListener("submit", function (event) {
          event.preventDefault();

          var username = document.getElementById("username").value;
          var password = document.getElementById("password").value;
          var confirmPassword = document.getElementById("confirm-password").value;

          if (password !== confirmPassword) {
            const mainContent = document.querySelector(".main-content");
            mainContent.classList.add("shake-animation");
            mainContent.addEventListener(
              "animationend",
              function () {
                mainContent.classList.remove("shake-animation");
              },
              { once: true }
            );
            console.error("Passwords do not match.");
          } else {
            // Simulate successful signup and redirect to login page
            console.log("Signup successful");
            window.location.href = "/login";
          }
        });
      } else {
        console.error("The signup form was not found.");
      }
    });
  </script>
</body>

</html>